
@font-face {
  font-family: "GraphikM";
  src: url("../fonts/Graphik-Medium.eot");
  src: url("../fonts/Graphik-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Graphik-Medium.woff2") format("woff2"),
    url("../fonts/Graphik-Medium.woff") format("woff"),
    url("../fonts/Graphik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root{
  --NetflixRed : #e50914;
}

/* navbar css */

.navbar{
  display: inline-flex;
  width: 100%;
  height: 7vh;
  justify-content: space-between;
  
}
.navbar ul{
  display: inline-flex;
}
.nvb{
  margin: 0 10px; 
  padding: 10px 5px;
  border-radius: 5px;
  border: 1px solid var(--NetflixRed);
  font-family: Graphik;
}
.left{
  background-color: transparent;
  border: 1px solid white !important;
  color: white;
}
.right{
  background-color: var(--NetflixRed);
}
.navbar img{
  min-width: 40%;
  max-width: 50%;
}

@media (min-width: 570px) {
  #root {
    margin: 0 10%;
    padding: 3rem;
  }
  .phone{
    display: none;
  }
  .mid.middleRight.mobile{
    display: none;
  }
}
@media (max-width: 569px) {

  #root {
    margin: 0 auto;
    padding: 3rem;
  }

  .nvb{
    display: none;
  }
  .phone a{
    display: inline-flex;
    justify-content: right;
    padding-right: px;
  }
  .mid.middleRight.pc{
    display: none;
  }
}

/* main content css */

.mainContainer{
  display: flex;
  place-content: center;
  font-family: Graphik;
}

.tv{
  max-width: 100%;
}

.middleLeft{
  place-items: left;
}

span{
  color: var(--NetflixRed);
}

.middleLeft p{
  font-size: 1.125rem;
  line-height: 150%;
}

.middleLeft a,
.middleLeft a:visited,
.middleLeft a:hover,
.middleLeft a:active {
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  border: 2px solid var(--NetflixRed);
  color: var(--NetflixRed);
}
.leftBottom {
  margin-top: 5vh;
  
}

.middleLeft h1{
  text-align: left;
  font-family: Graphik;
  font-weight: bolder;
  color: white;
  
}
.midh1{
  margin-bottom: 5%;
}

.middleRight img{
  scale: 1;
}



@media (min-width: 570px) {

  .checkmark{
    width: 2% !important;
  }

  .mid{
    min-width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }
  .middleLeft h1{
    font-size: 2.5rem;
  }
  .essaieB{
    border: none !important;
    padding: 0 !important;
    text-decoration: underline white !important;
    margin: none !important;
    text-underline-offset: 3px !important;
    color: white !important;
  } 
}
@media (max-width: 569px) {

  .checkmark{
    width: 4% !important;
  }
  .middleLeft p{
    font-size: 1rem;
    line-height: 140%;
  }
  .mid{
    min-width: 100%;
    height:36vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .middleLeft h1{
    font-size: 1.5rem;
    text-align: center;
  }
  .mainContainer{
    flex-wrap: wrap-reverse;
      }
      .plansB{
        display: none;
      }

}
 

